<h1>THIS IS THE INDEX PAGE</h1>

<h3>We need to:</h3>
<ul>
    <li>Deets page->I got this but I can't figure out how to do each but only show those that match the portfolio id shown</li>
    <li>Make a create item form. Jquery that shiz? Foundation skillz?</li>
    <li>Change out black in color scheme?</li>
    <li>FYI: tags/items are found in admin. all potluck tools are found in potluck</li>
    <li>Phase 2: ppl attending potlucks on deets page</li>
    <li>I think we should embed it into the new item tag and have it hidden but appear if you select "new person" like dwayne said</li>
    <li>add option for no assigned person for item</li>
    <li> add option to add new person on new item form</li>
    <li>add add new person button to potluck page</li>

</ul>
<button class="button" data-reveal-id="itemModal" data-animation="fadeAndPop" data-closeonbackgroundclick="false" data-reveal-ajax="/new_item">Click Me For item Modal</button>


 <div id="itemModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  I it's mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>