
<h1>THIS IS THE INDEX PAGE</h1>
<ul class="tagsFeed">

</ul>
<h3>We need to:</h3>
<ul>
    <li>***Need Potluck Id to auto be connected to new item form and populate potluck name on it.</li>
      <li>***I can't get redirects after making items from potluck deets and editing potluck deets to go back to the specific deets page NEED JANE/DWAYNE/SUMEET HELP</li>
    <li>FYI: tags/items are found in admin. all potluck tools are found in potluck</li>
    <li>Phase 2: ppl attending potlucks on deets page</li>
    <li>Phase 2It be nice to hide the Add new person option in adding an item unless someone wants to.</li>
    <li>add add new person button to potluck page</li>
    <li>NEW_ITEM HTML has super wacky formatting. needs cleaning</li>
    <li>Need to remove fluff on controller pages</li>
</ul>
  </div>
<a href="#" id="modal" button class="button">Create New Potluck</a>
</div>

 <div id="itemModal" class="reveal-modal">

  <form method="post" action="/new_potluck">
    Potluck Name:
    <input type="text" name="potluck[name]"><br>
    Potluck Location:
    <input type="text" name="potluck[location]"><br>
    Potluck Date:
    <input type="date" name="potluck[date]"><br><br>

    <button class="button success small">Save Potluck</button>
  </form>
</div>


<script type="text/javascript">
$(document).ready(function() {

  $('.tagsFeed').spectragram('getRecentTagged', {
    query: 'potluck', //this gets the recent photo feed tagged with the word: potluck
    size: 'small'

  });

});

</script>









