
<img src="http://distilleryimage9.s3.amazonaws.com/3b16aeead2f411e284c522000aa801df_5.jpg">

<ul class="tagsFeed"></ul>

 <div id="itemModal" class="reveal-modal">

  <form method="post" action="/new_potluck">
    Potluck Name:
    <input type="text" name="potluck[name]"><br>
    Potluck Location:
    <input type="text" name="potluck[location]"><br>
    Potluck Date:
    <input type="date" name="potluck[date]"><br><br>

    <button class="button success small">Save Potluck</button>
  </form>
</div>


<script type="text/javascript">
$(document).ready(function() {

  $('.tagsFeed').spectragram('getRecentTagged', {
    query: 'potluck',//this gets the recent photo feed tagged with the word: potluck
    size: 'small',
    min: 26,


  });
  $('.tagsFeed').spectragram('getRecentTagged', {
    query: 'potlucks',//this gets the recent photo feed tagged with the word: potluck
    size: 'small',
    min: 26,


  });

});

</script>









