<h1>THIS IS THE INDEX PAGE</h1>

<h3>We need to:</h3>
<ul>
    <li>Build out the deets page to show relationship between potluck, its items, and the peeps coming</li>
    <li>Make a create item form. Jquery that shiz? Foundation skillz?</li>
    <li>Change out black in color scheme?</li>
    <li>FYI: tags/items are found in admin. all potluck tools are found in potluck</li>

</ul>
