<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.css">
    <link rel="stylesheet" href="/foundation.min.css">
    <script type="text/javascript" src="/vendor/custom.modernizr.js"></script>
    <script type="text/javascript" src="/vendor/zepto.js"></script>
    <script type="text/javascript" src="foundation.min.js"></script>



    <title>Get LuckyPots</title>
  </head>

    <body>
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#">Get LuckyPots </a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="/potlucks">Potlucks</a></li>
            <li class="divider"></li>
            <li><a href="/tags">Admin</a></li>
            <li class="divider"></li>


            </li>
            <li class="divider"></li>
          </ul>


        </section>
      </nav>

      <div class="row">
        <div class="large-12 columns">



          <%= yield %>
        </div>
      </div>






    </body>

</html>