<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vendor/jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.css">
    <link rel="stylesheet" href="/vendor/reveal.css">

    <script type="text/javascript" src="/vendor/custom.modernizr.js"></script>
    <script type="text/javascript" src="/vendor/zepto.js"></script>
    <script type="text/javascript" src="/foundation.min.js"></script>
    <!--script type="text/javascript" src="/vendor/jquery.reveal.js"></script-->

    <script type="text/javascript" src="/vendor/spectragram.min.js"></script>

    <script type="text/javascript">
    jQuery.fn.spectragram.accessData = {
        accessToken: '10e7238232ec4eb7ac6f6e927f469bb1',
        clientID: '7332fc7e51744686ba5b4788611dd482'
    };
    </script>


    <title>Get LuckyPots</title>
    <style>

    .top-bar   {
      height: 60px;
     background: #595959; /* Old browsers */
     background: -moz-linear-gradient(top, #595959 0%, #2c2c2c 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#2c2c2c)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, #595959 0%,#2c2c2c 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, #595959 0%,#2c2c2c 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top, #595959 0%,#2c2c2c 100%); /* IE10+ */
     background: linear-gradient(to bottom, #595959 0%,#2c2c2c 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

      margin-bottom: 0;
      padding-bottom: 0;
      z-index: 99;



    }
    .top-bar .name h1 a {
     font-size: 50px;

     font-family: 'Oleo Script Swash Caps', cursive;
     color: red;
     letter-spacing: 2px;
     text-shadow:2px 2px 8px #000000;


    }
    .yellow {
      color: #FFCC00;
      display: inline;
    }

    .tagsFeed{
      list-style-type: none;



    }

    .tagsFeed li{
      display: inline;


    }

    .tagsFeed img{

      padding-bottom: 15px;

    }
    </style>
  </head>
    <body>
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1 class="luckypot"><a href="/"><p class="yellow">Get</p> Lucky <p class="yellow">Pots</p> </a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="/potlucks">Potlucks</a></li>
            <li class="divider"></li>
            <li><a href="/admin">Admin</a></li>
            <li class="divider"></li>
            </uL>
            <ul class="right">
            <li> <img src="https://graph.facebook.com/yekaterina/picture">;
</li>
       </ul>
        </section>
      </nav>

      <div class="row">
        <div class="large-12 columns">

          <%= yield %>

        </div>
      </div>





    <script>
      $(document).ready(
        $("#modal").click(function(){
          $('#itemModal').foundation('reveal', 'open', '/new_potluck');
        }
          ))
      $(document).ready(
        $("#closemodal").click(function() {
          $('#itemModal').foundation('reveal', 'close');
        })
        )
    </script>








</body>

</html>