
<div class="row">
  <div class="large-6 columns large-centered">
    <h2 class="luckypot">Hey there!</h2>
Add a new Person:
<form method="post" action="/new_person">
  Name:
  <input type="text" name="person[name]">
  <br>
  Sex:
 <div class="switch">
   <input id="x" name="person[gender]" value="f" type="radio" checked >
   <label for="x" onclick="">Female</label>

   <input id="x1" name="person[gender]" value="m" type="radio">
   <label for="x1" onclick="">Male</label>

   <span></span>
 </div>
 Single:
 <div class="switch">
   <input id="x" value ="true" name="person[relationship]" type="radio" checked  >
   <label for="x" onclick="">Single</label>

   <input id="x1" value ="false" name="person[relationship]" type="radio">
   <label for="x1" onclick="">Taken</label>

   <span></span>
 </div>
<br>
<br>

  <button>Save Person</button>
</form>

  </div>
</div>