<div class="row">
  <div class="large-6 columns large-centered">
    <h2 class="luckypot">Add a new tag:</h2>
    <form method="post" action="/new_tag">
      Tag:
      <input type="text" name="tag[name]">

      <button class="button success small">Save Tag</button>
    </form>
  </div>
</div>