

<div class="row">
  <div class="large-6 columns large-centered">
    Add a new tag:
    <form method="post" action="/new_tag">
      Tag:
      <input type="text" name="tag[name]">

      <button>Save Tag</button>
    </form>
  </div>
</div>