
<div class="row">
  <div class="large-8 columns large-centered">

<h3>Name: <%= @potluck.name %></h3>
<h3>Location: <%= @potluck.location %></h3>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Tags</th>
      <th>Assigned?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td></td>
      <td></td>
      <td>  </td>
      <td>Edit</td>
    </tr>
  </tbody>
</table>


  </div>
</div>
