<div class="row">
  <div class="large-6 columns large-centered">

    Edit Potluck
<form method="post" action="/save_potluck/<%= @potluck.id %>">
Potluck Name:
  <input type="text" name="potluck[name]" value="<%= @potluck.name %>"><br>
  Potluck Location:
    <input type="text" name="potluck[location]" value="<%= @potluck.location %>"><br>
    Potluck Date:
      <input type="date" name="potluck[date]" value="<%= @potluck.date %>"><br>



    <br>
  <button>Save Potluck</button>
</form>
  </div>
</div>