Add a new Potluck
<form method="post" action="/new_potluck">
Potluck Name:
  <input type="text" name="potluck[name]"><br>
  Potluck Location:
    <input type="text" name="potluck[location]"><br>
    Potluck Date:
      <input type="date" name="potluck[date]"><br>



    <br>
  <button>Save Potluck</button>
</form>