<div class="row">
  <div class="large-6 columns large-centered">
    <h2 class="luckypot">Who's bringing it?</h2>
    <h4>Claim Item as Existing user:</h4>
    <form class="customRadio" method="post" action="/item_assign/<%= @item.id %>">

    <select name="item[person_id]">
      <option>Select existing or add new Person Below</a></option>
      <% Person.all.each do |person| %>
        <option value="<%= person.id %>"><%= person.name %></option>
      <% end %>
    </select>
      <button class="button success small">Claim Item</button>

    <h4>Claim Item as a New User:</h4>
      Name:
      <input type="text" name="person[name]">
      <br>
      Sex:
     <div class="switch">
       <input id="x" name="person[gender]" value="f" type="radio" checked >
       <label for="x" onclick="">Female</label>

       <input id="x1" name="person[gender]" value="m" type="radio">
       <label for="x1" onclick="">Male</label>

       <span></span>
     </div>
     Single:
     <div class="switch">
       <input id="x" value ="true" name="person[relationship]" type="radio" checked  >
       <label for="x" onclick="">Single</label>

       <input id="x1" value ="false" name="person[relationship]" type="radio">
       <label for="x1" onclick="">Taken</label>

       <span></span>
     </div>
    <br>
    <br>

      <button class="button success small">Claim and Add User</button>
    </form>



</div>
</div>