<div class="row">
  <div class="large-6 columns large-centered">
   <!--  <h2 class="luckypot"> </h2> -->
    <h2 class="luckypot">Add an Item</h2>
    <form method="post" action="/new_item">
      Item:
      <input type="text" name="item[name]">
      <input type="hidden" name="item[potluck_id]" value="<%= @potluck.id %>">


    <!--This is just like how we pulled the stocks on the portfolio new/edit page
      in brokerage. they were in a bridge the same way-->
      <% Tag.all.each do |tag| %>
          <input type="checkbox"
          name="item[tag_ids][]"value="<%=tag.id%>"><%= tag.name %>
            <br>
          <% end %>

        <button class="button success medium">Create Item</button>
    </form>
  </div>
</div>